<h1>Editing Episode Statement</h1>

<%= render 'form', episode_statement: @episode_statement %>

<div class="action-row">
  <%= link_to 'Back', episode_path(@episode), class: 'button' %>
  <%= button_to 'Destroy', [@episode, @episode_statement], method: :delete, class: 'button button--delete' %>
</div>
